################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrudCustomer/bin/Debug/netcoreapp3.1
/CrudCustomer/obj
